---
import logocm from "../assets/logocm.svg";
import { Image } from "astro:assets";
import email from "../assets/email.svg";
import call from "../assets/call.svg";
---

<footer>
  <div class="m-wrapper-footer container">
    <div class="m-wrapper-footer__logo">
      <Image src={logocm} alt="Logo centro médico" />
    </div>

    <div class="m-wrapper-footer__one">
      <p class= "m-wrapper-footer__one-title text-bold">Horarios</p>
      <div class="m-wrapper-footer__one-text">
        <div>
          <p>Lunes a Viernes</p>
          <p>9:00 a.m. - 6:00 p.m.</p>
        </div>
        <div>
          <p>Miércoles</p>
          <p>9:00 a.m. - 7:00 p.m.</p>
        </div>
        <div>
          <p>Sábado, Domingo</p>
          <p>Cerrado (Abierto en operativos)</p>
        </div>
      </div>
    </div>

    <div class="m-wrapper-footer__two">
      <div>
        <p class="m-wrapper-footer__two-title text-bold">Ubicación</p>
      </div>
      <div>
        <p>Parcela 154, Km 8, La Vara, Puerto Montt</p>
      </div>
    </div>

    <div class="m-wrapper-footer__three">
      <a>
        <p class="m-wrapper-footer__two-title text-bold">Contacto</p>
      </a>
      <div>
        <a href="mailto:cm@vinapm.cl" class="m-wrapper-footer__three-section">
          <Image src={email} alt="Icono de email" />
          <p>cm@vinapm.cl</p>
        </a>
        <a href="tel:56966182335" class="m-wrapper-footer__three-section">
          <Image src={call} alt="Icono de llamada" />
          <p>(56) 9 6618 2335</p>
        </a>
      </div>
    </div>
  </div>

  <!-- <p class="m-wrapper-footer__icons container">
    <Image src={facebook} alt="Icono de facebook" />
    <Image src={instagram} alt="Icono de instagram" />
  </p> -->

  <div class="c-divider"></div>

  <p class="m-wrapper-footer__last-text container">
    ©2024, Todos los derechos reservados.
  </p>
</footer>
