---
import arrow from '../assets/arrow.svg';
import { Image } from 'astro:assets';
---

<div class="m-wrapper-items container">
    <p class="text-small">Nuestras</p>
    <h4>Especialidades</h4>        
    <div class="m-wrapper-items__all-items">
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>
        <a href="#" class="m-wrapper-items__item">
            <p>Medicina General</p>
            <Image src={arrow} alt='Icono de llamada' class="m-wrapper-items__icon" />
        </a>

    </div>
</div>

<style>

</style>
