---
import arrow from "../assets/arrow.svg";
import { Image } from "astro:assets";
---

<div class="m-wrapper-items container">
  <p class="text-small">Nuestras</p>
  <h4>Especialidades</h4>
  <div class="m-wrapper-items__all-items">
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Pediatría</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Nutrición</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Psicología</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Enfermería</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Endodoncia</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Odontología</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Masoterapia</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Fonoaudiología</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Medicina General</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
    <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" target="_blank"  class="m-wrapper-items__item">
      <p>Medicina Familiar Integral</p>
      <Image src={arrow} alt="Icono de flecha" class="m-wrapper-items__icon" />
    </a>
  </div>
</div>

<style></style>
