---
import arrow from "../assets/arrow.svg";
import DArriagada from "../assets/DArriagada.svg";
import Persona from "../assets/persona.png";
import { Image } from "astro:assets";
---

<div class="m-wrapper-team container" id="team">
  <p class="text-small">Nuestros profesionales</p>
  <h4>Conócenos</h4>

  <div class="m-wrapper-team__all-team">
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={DArriagada} alt="Fotografía Douglas Arriagada" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Douglas Arriagada</p>
        <p class="text-caption">Médico General</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Anays Uribe</p>
        <p class="text-caption">Técnico en Odontología </p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Catalina Cordova</p>
        <p class="text-caption">Fonoaudiologia</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Constanza Pardo</p>
        <p class="text-caption">Psicologa</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Constanza Barra</p>
        <p class="text-caption">Medicina General</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Daniela Zepeda Díaz        </p>
        <p class="text-caption">Endodoncista</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Erika Mora</p>
        <p class="text-caption">Cirujano Dentista</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Mucia Yañez</p>
        <p class="text-caption">Medicina Familiar Integral</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Pía Barrientos</p>
        <p class="text-caption">Odontología General</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Silvia Palacio</p>
        <p class="text-caption">Pediatría</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Tania Oñate</p>
        <p class="text-caption">Rehabilitación - Odontología</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Francisca Fuentes</p>
        <p class="text-caption">Fonoaudiología</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Natalie Alfaro</p>
        <p class="text-caption">Enfermería</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Lucas Fuentes</p>
        <p class="text-caption">Nutrición</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Pablo Ramirez</p>
        <p class="text-caption">Psicología</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
    <div class="m-wrapper-team__card">
      <div class="m-wrapper-team__card-photo">
        <Image src={Persona} alt="Fotografía Persona" />
      </div>
      <div class="m-wrapper-team__card-section">
        <p>Sibily Allende</p>
        <p class="text-caption">Masoterapia</p>
        <a href="https://agendamiento.reservo.cl/makereserva/agenda/e0GS5Mu0a0JHhi526B13eow6z8n6P1" class="m-wrapper-team__card-button">
          <p>Reservar hora</p>
          <Image
            src={arrow}
            alt="Icono de llamada"
            class="m-wrapper-team__card-button-icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
